In [62]:
import pandas as pd
import numpy as np
import datetime

In [63]:
df = pd.read_csv("../data/raw/movie_data.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_25936\1631465093.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/movie_data.csv")

In [64]:
df = df.drop_duplicates(keep='first')

df.head(5)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Type,DVD,BoxOffice,Production,Website,Response,Season,Episode,seriesID,totalSeasons
0,Good Neighbor Sam,1964,Approved,22-Jul-64,130 min,Comedy,David Swift,"James Fritzell, Everett Greenbaum, David Swift","Jack Lemmon, Romy Schneider, Dorothy Provine",To help his divorced neighbor claim a substant...,...,movie,NaN,"$9,072,726",NaN,NaN,True,NaN,NaN,NaN,NaN
1,Eddie Izzard: Dress to Kill,1999,Unrated,13-Jun-99,115 min,"Documentary, Comedy",Lawrence Jordan,Eddie Izzard,Eddie Izzard,Executive transvestite Eddie Izzard takes his ...,...,movie,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN
2,Quo Vadis,1951,Approved,25-Dec-51,171 min,"Biography, Drama, Romance","Mervyn LeRoy, Anthony Mann","John Lee Mahin, S.N. Behrman, Sonya Levien","Robert Taylor, Deborah Kerr, Leo Genn",After fierce Roman commander Marcus Vinicius b...,...,movie,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN
3,The Captain's Paradise,1953,Approved,28-Sep-53,94 min,"Comedy, Romance",Anthony Kimmins,"Alec Coppel, Nicholas Phipps","Alec Guinness, Peter Bull, Charles Goldner",The captain of a ferry boat between the restri...,...,movie,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN
4,Batman Begins,2005,PG-13,15-Jun-05,140 min,"Action, Crime, Drama",Christopher Nolan,"Bob Kane, David S. Goyer, Christopher Nolan","Christian Bale, Michael Caine, Ken Watanabe","After witnessing his parents' death, Bruce lea...",...,movie,NaN,"$206,863,479",NaN,NaN,True,NaN,NaN,NaN,NaN

In [65]:
df.drop(['Metascore', 'Type', 'DVD', 'Production', 'Website', 
         'Response','Season', 'totalSeasons','Episode', 'seriesID', 'Released'], axis=1, inplace=True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76911 entries, 0 to 88513
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       76911 non-null  object
 1   Year        76911 non-null  object
 2   Rated       48818 non-null  object
 3   Runtime     76363 non-null  object
 4   Genre       76770 non-null  object
 5   Director    76040 non-null  object
 6   Writer      71444 non-null  object
 7   Actors      75012 non-null  object
 8   Plot        75806 non-null  object
 9   Language    75112 non-null  object
 10  Country     76540 non-null  object
 11  Awards      41397 non-null  object
 12  Poster      76338 non-null  object
 13  Ratings     76911 non-null  object
 14  imdbRating  75911 non-null  float64
 15  imdbVotes   76698 non-null  object
 16  imdbID      76911 non-null  object
 17  BoxOffice   16629 non-null  object
dtypes: float64(1), object(17)
memory usage: 11.1+ MB

In [ ]:
df['Rated'] = df['Rated'].fillna('Unrated')
df['Runtime'] = df['Runtime'].fillna('Unknown')
df['Awards'] = df['Awards'].fillna('No award')
df['BoxOffice'] = df['BoxOffice'].fillna('Unknown')
df['Poster'] = df['Poster'].fillna('Not available')
df['Country'] = df['Country'].fillna('Unknown')
df['Language'] = df['Language'].fillna('Unknown')
df['Writer'] = df['Writer'].fillna('Unknown')
df['Director'] = df['Director'].fillna('Unknown')

df['Year'] = pd.to_datetime(df['Year'], format='%Y', errors='coerce')

In [68]:
df = df.dropna(subset=['Actors', 'Plot', 'Genre', 'imdbVotes', 'imdbRating'])

df['imdbVotes'] = df['imdbVotes'].replace(',', '', regex=True).fillna(0).astype(int)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73340 entries, 0 to 88513
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       73340 non-null  object
 1   Year        73190 non-null  datetime64[ns]
 2   Rated       73340 non-null  object
 3   Runtime     73340 non-null  object
 4   Genre       73340 non-null  object
 5   Director    73340 non-null  object
 6   Writer      73340 non-null  object
 7   Actors      73340 non-null  object
 8   Plot        73340 non-null  object
 9   Language    73340 non-null  object
 10  Country     73340 non-null  object
 11  Awards      73340 non-null  object
 12  Poster      73340 non-null  object
 13  Ratings     73340 non-null  object
 14  imdbRating  73340 non-null  float64
 15  imdbVotes   73340 non-null  int32
 16  imdbID      73340 non-null  object
 17  BoxOffice   73340 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), object(15)
memory usage: 10.4+ MB

In [70]:
df.describe()

                                Year    imdbRating     imdbVotes
count                          73190  73340.000000  7.334000e+04
mean   1994-12-14 11:24:36.300041216      6.144179  1.466915e+04
min              1878-01-01 00:00:00      1.000000  5.000000e+00
25%              1980-01-01 00:00:00      5.500000  3.880000e+02
50%              2005-01-01 00:00:00      6.300000  1.103000e+03
75%              2015-01-01 00:00:00      7.000000  3.979250e+03
max              2023-01-01 00:00:00     10.000000  2.945396e+06
std                              NaN      1.183479  7.372629e+04

In [71]:
rating = df[df['imdbRating'].notnull()]['imdbRating'].astype('int')
C = rating.mean()
C

5.697995636760295

In [72]:
vote_count = df[df['imdbVotes'].notnull()]['imdbVotes'].astype('int')
m = vote_count.quantile(0.90)
m

18962.300000000017

In [81]:
qualified = df[(df['imdbRating'] >= C) & (df['imdbVotes'] >= m)]
qualified.shape

(6406, 18)

In [74]:
def weighted_rating(x):
    v = x['imdbVotes']
    R = x['imdbRating']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
# Táº¡o má»™t báº£n sao Ä‘á»™c láº­p Ä‘á»ƒ trÃ¡nh SettingWithCopyWarning
qualified = qualified.copy()

# GÃ¡n giÃ¡ trá»‹ vÃ o cá»™t 'wr'
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

# Sort
qualified = qualified.sort_values('wr', ascending=False)

(6406, 19)

In [76]:
qualified.head(5)

,Title,Year,Rated,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings,imdbRating,imdbVotes,imdbID,BoxOffice,wr
75836,The Shawshank Redemption,1994-01-01,R,142 min,Drama,Frank Darabont,"Stephen King, Frank Darabont","Tim Robbins, Morgan Freeman, Bob Gunton",A banker convicted of uxoricide forms a friend...,English,United States,Nominated for 7 Oscars. 21 wins & 42 nominatio...,https://m.media-amazon.com/images/M/MV5BMDAyY2...,"[{'Source': 'Internet Movie Database', 'Value'...",9.3,2945396,tt0111161,"$28,767,189",9.276959
51648,Band of Brothers,2001-01-01,TV-MA,594 min,"Drama, History, War",Unknown,Unknown,"Scott Grimes, Damian Lewis, Ron Livingston",The story of Easy Company of the U.S. Army 101...,"English, Dutch, French, German, Lithuanian","United Kingdom, United States",Won 6 Primetime Emmys. 34 wins & 26 nomination...,https://m.media-amazon.com/images/M/MV5BMTQ3NT...,"[{'Source': 'Internet Movie Database', 'Value'...",9.4,542582,tt0185906,Unknown,9.274990
76362,The Godfather,1972-01-01,R,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola","Marlon Brando, Al Pacino, James Caan",The aging patriarch of an organized crime dyna...,"English, Italian, Latin",United States,Won 3 Oscars. 31 wins & 31 nominations total,https://m.media-amazon.com/images/M/MV5BM2MyNj...,"[{'Source': 'Internet Movie Database', 'Value'...",9.2,2048917,tt0068646,"$136,381,073",9.167887
46533,Planet Earth,2006-01-01,TV-PG,538 min,"Documentary, Family",Unknown,Unknown,"Sigourney Weaver, David Attenborough, Nikolay ...",A documentary series on the wildlife found on ...,English,"United Kingdom, Canada, United States, Japan",Won 4 Primetime Emmys. 15 wins & 15 nomination...,https://m.media-amazon.com/images/M/MV5BY2NjND...,"[{'Source': 'Internet Movie Database', 'Value'...",9.4,222764,tt0795176,Unknown,9.109595
51797,Planet Earth II,2016-01-01,TV-G,298 min,Documentary,Unknown,Unknown,"David Attenborough, Gordon Buchanan, Barrie Br...",David Attenborough returns with a new wildlife...,"English, French","United Kingdom, Germany, France, China, United...",Won 2 Primetime Emmys. 15 wins & 28 nomination...,https://m.media-amazon.com/images/M/MV5BMzY4ND...,"[{'Source': 'Internet Movie Database', 'Value'...",9.5,160979,tt5491994,Unknown,9.099343

In [83]:
s = qualified.apply(lambda x: pd.Series(x['Genre']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'Genre'
print(s)
gen_md = qualified.drop('Genre', axis=1).join(s)

4            Action, Crime, Drama
9                  Drama, Romance
16       Horror, Sci-Fi, Thriller
24                  Comedy, Drama
26                         Horror
                   ...
88361                       Drama
88385      Drama, Horror, Mystery
88392                  Drama, War
88485              Drama, Romance
88488      Action, Comedy, Horror
Name: Genre, Length: 6406, dtype: object